{% extends "blog/base_blog.html" %}

{% load i18n frontendadmin_tags %}

{% block title %}{% trans "Post archive" %}{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}{% trans "Post archive" %}{% endblock %}


{% block content %}
  <div class="list post_list">
    <h3>{% frontendadmin_add object_list 'Write new article' %}</h3>
    {% for post in object_list %}
      <div class="post">
        <div class="date">
          <span class="month">{{ post.publish|date:"M" }}</span>
          <span class="day">{{ post.publish|date:"d" }}</span>
        </div>
        <p>
          <span class="title"><a href="{{ post.get_absolute_url }}" title="{% trans "View this post" %}">{{ post.title }}</a></span>
	      {{ post.tease|safe }}
	    </p>
      </div>    
    {% endfor %}
  </div>
  
  {% if is_paginated %}
  <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="{% trans "View older posts" %}">{% trans "Older" %}</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="{% trans "View newer posts" %}">{% trans "Newer" %}</a>
    {% endif %}
  </p>
  {% endif %}
{% endblock %}