<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load native flatblock_tags frontendadmin_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>EffervescentCollective | {% block title %}Welcome{% endblock %}</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="description" content="The Effervescent Collective strives to create and cultivate dances that are curious, clever, and impactful. They look for powerful, alternate ways to understand everyday rituals and popular culture." />
    <meta name="keywords" content="dance, movement, performances" />
    <link rel="stylesheet" type="text/css" href="/media/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/html.css"/>
    <script src="/media/js/jquery-1.3.2.js" type="text/javascript"></script>
    <script src="/media/js/jquery.cycle.js" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="content">
    <div id="header" class="width">
      <a href="/"><img style="padding-bottom: 35px;" border="0" src="/media/images/logo.jpg" alt="Effervescent Collective"/></a>
      {% flatblock "top-menu" %}
    </div>
    <div id="headerImg" class="width hidden">
      {% get_images as images %}
      {% for image in images %}
      <img height="250px" width="776px" src="{{ image }}"/>
      {% endfor %}
    </div>
    <div id="menu" class="width">
      {% flatblock "sub-menu" %}
    </div>
    <div id="page">
      <div id="columns" class="widthPad">
        <div class="floatLeft width73">
          <h1><span class="dark">{% block content_title %}home{% endblock %}</span></h1>
          {% block content %}
          {% if request.user.is_authenticated %}
          {% get_home_flatblock as home %}
            <h3>{% frontendadmin_add flatpages 'Create new page' %}{% frontendadmin_change home 'Edit homepage' %}</h3>
          {% else %}
          {% endif %}
          
          {% flatblock "home" %}
            <h2>Articles</h2>
            {% for post in object_list %}
              <div class="post">
                <div class="date">
                  <span class="month">{{ post.publish|date:"M" }}</span>
                  <span class="day">{{ post.publish|date:"d" }}</span>
                </div>
                <p>
                  <span class="title"><a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a></span>
                  {{ post.tease|safe }}
                </p>
              </div>    
            {% endfor %}
            <h2><a href="/blog/">Read more articles...</a></h2>
          {% endblock %}
        </div>
        <div class="floatRight width25 lightBlueBg horzPad">
          {% get_section_slug as section_slug %}
          {% get_section_flatblock as fb %}
          {% if section_slug %}
            {% if request.user.is_autenticated %}<h3>{% frontendadmin_change fb 'Edit menu' %}</h3>{% endif %}
            {% flatblock section_slug %}
          {% endif %}
          
          {% flatblock "side-buttons" %}
          {% get_flatblock slug=side-buttons as side %}
            {% if request.user.is_autenticated %}<h3>{% frontendadmin_change side 'Edit buttons' %}</h3>{% endif %}
        </div>
      </div>
    </div>
    </div>
    <div id="footer">
      <div id="bg" class="width">
        <img  style="padding: 10px;" src="/media/images/logo.jpg" alt="Effervescent Collective"/>
        <a href="http://creativecommons.org"><img style="border-width: 0pt;" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" alt="Creative Commons License"/></a><br/>
        Licensed by Lily Susskind under a<br/> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License</a>.
      </div>
    </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12805698-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript">
$(document).ready(function(){
      $('#headerImg').cycle({fx:'fade',delay: 5000,speed: 5000,random: 1}).removeClass('hidden');
});
</script>    
  </body>
</html>
