-e svn+http://code.djangoproject.com/svn/django/tags/releases/1.1.1/#egg=django
-e svn+http://svn.aeracode.org/svn/south/tags/0.5#egg=south
-e git+http://github.com/nathanborror/django-basic-apps.git#egg=basic
-e git+http://github.com/justquick/django-tinymce.git#egg=tinymce
-e git+http://github.com/justquick/django-tagging.git#egg=tagging
-e hg+http://bitbucket.org/jespern/django-piston/#egg=piston
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=contact_form
-e git+http://github.com/zerok/django-flatblocks.git#egg=flatblocks
-e git+http://github.com/justquick/django-native-tags.git#egg=native_tags
-e git+http://opensource.washingtontimes.com/git/public/django-staff.git/#egg=staff
-e svn+http://django-mptt.googlecode.com/svn/trunk/#egg=mptt
-e git+http://github.com/justquick/django-mptt-comments.git#egg=mptt_comments
-e svn+http://django-template-utils.googlecode.com/svn/trunk/#egg=template_utils
-e git+http://github.com/justquick/django-frontendadmin.git#egg=frontendadmin
-e git+http://opensource.washingtontimes.com/git/public/django-categories.git/#egg=categories
-e git+http://github.com/justquick/django-math-captcha.git#egg=math_captcha

simplejson==2.0.9
python-memcached==1.44
django-memcached==0.1.2
django-pagination==1.0.5
django-debug-toolbar==0.7.0
django-extensions==0.4.1
python-dateutil==1.4.1
setup/python-imaging_1.1.6-3.tar.gz
ipython
